* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}

#overlord {
  outline: 1px solid white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#navbar {
  outline: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh;
}

#navbar a {
  color: white;
  text-decoration: none;
}

i {
  cursor: pointer;
}

:focus {
  background-color: black;
}

textarea, input {
  background-color: black;
  color: white;
}

textarea {
  padding: .5% 1%;
}

input {
  padding: 4%;
}

::placeholder {
  color: darkgray;
}

::selection {
  background-color: rgb(8, 63, 69);
  color: rgb(199, 199, 199);
}










/**********************************************/
/******************** Home ********************/
/**********************************************/










#home-container {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}










/******************************************************/
/******************** Alphabetizer ********************/
/******************************************************/










#alphabetizer-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#alphabetizer-input-container {
  outline: 2px solid gold;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alphabetizer-output-container {
  outline: 2px solid purple;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alphabetizer-input-form {
  outline: 2px solid teal;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#alphabetizer-textarea {
  height: 70%;
  width: 80%;
}

#alphabetizer-button {
  height: 10%;
  width: 20%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alphabetizer-output {
  outline: 2px solid white;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#alphabetizer-output-div-1 {
  outline: 1px solid red;
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 5px 0 5px 0; */
  /* max-height: 100%; */
}

.alphabetizer-output-div-2 {
  outline: 1px solid white;
  /* padding: 5px; */
  /* margin: 2px; */
}










/***************************************************/
/******************** Converter ********************/
/***************************************************/










#converter-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}





/******************** length ********************/





#length-container {
  outline: 2px solid gold;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#length-form {
  outline: 2px solid lightcoral;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#cm,
#inch,
#foot,
#yard,
#meter,
#km,
#mile,
#nautical {
  width: 25vw;
  display: grid;
  grid-template-columns: 25% 60% 15%;
  align-content: center;
}

#cm > div,
#inch > div,
#foot > div,
#yard > div,
#meter > div,
#km > div,
#mile > div,
#nautical > div {
  justify-self: center;
  align-self: center;
  text-align: center;
}





/******************** weight ********************/





#weight-container {
  outline: 2px solid teal;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#weight-form {
  outline: 2px solid lightcoral;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#gram,
#ounce,
#pound,
#kg {
  width: 25vw;
  display: grid;
  grid-template-columns: 25% 60% 15%;
  align-content: center;
}

#gram > div,
#ounce > div,
#pound > div,
#kg > div {
  justify-self: center;
  align-self: center;
  text-align: center;
}





/******************** speed ********************/





#speed-container {
  outline: 2px solid red;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#speed-form {
  outline: 2px solid lightcoral;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#mph,
#kph,
#knot,
#mach {
  width: 25vw;
  display: grid;
  grid-template-columns: 25% 60% 15%;
  align-content: center;
}

#mph > div,
#kph > div,
#knot > div,
#mach > div {
  justify-self: center;
  align-self: center;
  text-align: center;
}





/******************** temperature ********************/





#temp-container {
  outline: 2px solid blueviolet;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#temp-form {
  outline: 2px solid lightcoral;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#fahrenheit,
#celsius,
#kelvin {
  width: 25vw;
  display: grid;
  grid-template-columns: 25% 60% 15%;
  align-content: center;
}

#fahrenheit > div,
#celsius > div,
#kelvin > div {
  justify-self: center;
  align-self: center;
  text-align: center;
}










/***********************************************/
/******************** Clock ********************/
/***********************************************/










#clock-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#worldclock-container {
  outline: 2px solid blue;
  height: 33.3%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stopwatch-container {
  outline: 2px solid red;
  height: 33.3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer-container {
  outline: 2px solid green;
  height: 33.3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}